{% extends "AdminTemplateBundle::base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/admintemplate/css/pages/signup.css')}}" rel="stylesheet">

{% endblock %}
{% block body %}
<div class="account-container register">
    <div class="content clearfix">

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
</form>
        </div>
    </div>
{% endblock %}
