{% extends "AdminTemplateBundle::base.html.twig" %}

{% block body -%}

    <div class="widget-header"><i class="icon-th-list"></i>

        <h3>Attendance of {{ lecture.title }} of {{ lecture.module.title }} of {{ lecture.module.program.title }}</h3>
    </div>


    <form action="{{ path("attendance_create") }}" method="POST">

        {% for student in students %}
            <input {% if student.id in students_ids %}checked {% endif %} id="checkbox_{{ student.id }}" type="checkbox"
                   name="students[]" value="{{ student.id }}">
            <label for="checkbox_{{ student.id }}">{{ student.profile.name }}</label>
        {% endfor %}

        <input type="hidden" value="{{ lecture.id }}" name="lecture_id"/>
        <input type="submit" value="Submit" class="btn btn-primary"/>

    </form>
    <ul class="record_actions">
        <li>
            <a href="{{ path('lecture',{'id':lecture.module.id}) }}">
                Back to the Lectures List
            </a>
        </li>
    </ul>

{% endblock %}

{% block javascripts %}
{% endblock %}
