{% extends "AdminTemplateBundle::base.html.twig" %}

{% block body -%}
    <h1>Lecture edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('lecture',{'id':module_id}) }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}

{% block javascripts %}
{% endblock %}