{% extends "AdminTemplateBundle::base.html.twig" %}

{% block body -%}
    <a href="{{ path('lecture_new',{'id':module.id}) }}" class="btn btn-primary btn-large">Add New Lecture</a></td>
    <hr/>
    <div class="widget widget-table action-table">

        <div class="widget-header"><i class="icon-th-list"></i>

            <h3> {{ module.title }} Lectures</h3>
        </div>

        <div class="widget-content">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Lecture Time</th>
                    <th>Module</th>
                    <th>Program</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('lecture_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.title }}</td>
                        <td>{% if entity.lectime %}{{ entity.lectime|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ entity.module.title }}</td>
                        <td>{{ entity.module.program.title }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('lecture_edit', { 'id': entity.id }) }}">Edit</a>
                                </li>
                                <li>
                                    <a href="{{ path('lecture_attendance', { 'id': entity.id }) }}">Manage Attendance</a>
                                </li>
                                <li>
                                    <a href="javascript:del({{ entity.id }})" style="color:red" id="delete_link"
                                       class="mini red-stripe">Delete</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <ul class="record_actions">
        <li>
            <a href="{{ path('module') }}">
                Back to the Modules List
            </a>
        </li>
    </ul>
    <form hidden name="delete_form" id="delete_form" action="{{ path('lecture_delete') }}"
          method="POST">
        <input type="hidden" name="id" id="entityId"/>
    </form>

{% endblock %}

{% block javascripts %}
    <script>
        function del(id) {
            if (confirm("Are you sure you want to delete?")) {
                document.getElementById('entityId').value = id;
                document.getElementById('delete_form').submit();
            }
        }
    </script>
{% endblock %}
