{% extends "AdminTemplateBundle::base.html.twig" %}

{% block body -%}
    <h2>Add New Lecture</h2>

    <form action="{{ path('lecture_create') }}" method="POST">

        {{ form_widget(form) }}

        <input type="hidden" name="module_id" value="{{ module_id }}" />

    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('lecture',{'id':module_id}) }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
{% endblock %}