{% extends "AdminTemplateBundle::base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/admintemplate/css/pages/signup.css') }}" rel="stylesheet">

{% endblock %}
{% block body %}
    <div class="account-container register">

        <div class="content clearfix">
            <h3>Welcome : {{ app.user.profile.name }}</h3>

            <div class="main">
                <div class="main-inner">
                    <div class="container">
                        <div class="row">
                            <div class="span6">
                                <div class="widget widget-nopad">
                                    <div class="widget-header"><i class="icon-list-alt"></i>

                                        <h3> Modules </h3>
                                    </div>
                                    <!-- /widget-header -->
                                    <div class="widget-content">
                                        <div class="widget big-stats-container">
                                            <div class="widget-content">
                                                <div id="big_stats" class="cf">
                                                    {% for module in app.user.program.modules %}
                                                        <div class="stat">{#<i class="icon-anchor"></i> #}
                                                            <span class="value"><a href="{{ path("module_content",{'id':module.id}) }}">{{ module.title }}</a></span>
                                                        </div>
                                                    {% endfor %}
                                                    <!-- .stat -->
                                                </div>
                                            </div>
                                            <!-- /widget-content -->

                                        </div>
                                    </div>
                                </div>
                                <!-- /widget -->
                                <div class="widget widget-nopad">
                                    <div class="widget-header"><i class="icon-list-alt"></i>

                                        <h3>Lectures</h3>
                                    </div>
                                    <!-- /widget-header -->
                                    <div class="widget-content">
                                        <div id='calendar'>
                                        </div>
                                    </div>
                                    <!-- /widget-content -->
                                </div>
                                <!-- /widget -->
                            </div>
                            <!-- /span6 -->
                            <div class="span6">
                                <div class="widget widget-table action-table">
                                    <div class="widget-header"><i class="icon-th-list"></i>

                                        <h3>Attendance Table</h3>
                                    </div>
                                    <!-- /widget-header -->
                                    <div class="widget-content">
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <th> Lecture</th>
                                                <th> Date</th>
                                                <th> Time</th>
                                                <th> Module</th>
                                                <th> Attendance</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for lecture in lectures %}
                                                <tr>
                                                    <td>{{ lecture.title }}</td>
                                                    <td>{{ lecture.lectime|date('Y-m-d') }}</td>
                                                    <td>{{ lecture.lectime|date('H:i') }}</td>
                                                    <td>{{ lecture.module.title }}</td>
                                                    <td>{% if lecture.id in lectures_attended %}Yes{% else %}No{% endif %}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        <hr/>
                                        <center><h4> Attendance
                                                Percentage:{% if lectures_attended|length > 0 and lectures|length > 0 %}{{ ((lectures_attended|length /lectures|length )*100)|round }}% {% else %}There are no Lectures for you{% endif %} </h4>
                                        </center>
                                    </div>
                                    <!-- /widget-content -->
                                </div>
                                <!-- /widget -->
                                <div class="widget widget-nopad">
                                    <div class="widget-header"><i class="icon-list-alt"></i>

                                        <h3>Notifications</h3>
                                    </div>
                                    <!-- /widget-header -->
                                    <div class="widget-content">
                                        <ul class="news-items">
                                            {% for notification in notifications %}
                                                <li>
                                                    <div class="news-item-date"><span
                                                                class="news-item-day">{{ notification.created|date('d') }}</span> <span
                                                                class="news-item-month">{{ notification.created|date('M') }}</span>
                                                    </div>
                                                    <div class="news-item-detail">
                                                        <h4>{{ notification.title }}</h4>

                                                        <p class="news-item-preview">{{ notification.description }} </p>
                                                    </div>

                                                </li>
                                            {% endfor %}


                                        </ul>
                                    </div>
                                    <!-- /widget-content -->
                                </div>
                                <!-- /widget -->
                                <div class="widget">
                                    <div class="widget-header"><i class="icon-file"></i>

                                        <h3> Topics</h3>
                                    </div>
                                    <!-- /widget-header -->
                                    <div class="widget-content">

                                        {% for topic in topics %}

                                                <a href="{{ path("comment",{'id':topic.id}) }}"><h4>{{ topic.title }}</h4></a>
                                            {% endfor %}
                                    </div>
                                    <!-- /widget-content -->
                                </div>
                                <!-- /widget -->
                            </div>
                            <!-- /span6 -->
                        </div>
                        <!-- /row -->
                    </div>
                    <!-- /container -->
                </div>
                <!-- /main-inner -->
            </div>


        </div>
        <!-- /content -->

    </div> <!-- /account-container -->

{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}