{% extends "AdminTemplateBundle::base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/admintemplate/css/pages/dashboard.css')}}" rel="stylesheet">

{% endblock %}
{% block body %}
    <a href="{{ path('add_student') }}" class="btn btn-primary btn-large">Add New Student</a></td>
    <hr/>
    <div class="widget widget-table action-table">

        <div class="widget-header"> <i class="icon-th-list"></i>
            <h3>Students</h3>
        </div>
        <!-- /widget-header -->
        <div class="widget-content">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th> Name </th>
                    <th> Email</th>
                    <th class="td-actions"> </th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                <tr>
                    <td> {% if user.profile %} {{ user.profile.name }} {% else  %}{{ user.username }}  {% endif %}</td>
                    <td> {{ user.email }} </td>

                    <td class="td-actions">
                        <a href="{{ path('edit_student' , { "id" : user.id } ) }}" class="btn btn-small btn-success">edit</a>
                        <a href="javascript:;" class="btn btn-danger btn-small"><i class="btn-icon-only icon-remove"> </i></a></td>
                </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
        <!-- /widget-content -->
    </div>
{% endblock  %}
{% block javascripts %}
{% endblock %}