{% extends "AdminTemplateBundle::base.html.twig" %}

{% block body -%}
    <h1>Comment edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('comment',{'id':entity.topic.id}) }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
