{% extends "AdminTemplateBundle::base.html.twig" %}

{% block body -%}
    <a href="{{ path('comment_new',{'id' : topic.id}) }}" class="btn btn-primary btn-large">Add New Comment</a></td>
<hr/>
<div class="widget widget-table action-table">

    <div class="widget-header"><i class="icon-th-list"></i>

        <h3>Comments of {{ topic.title }}</h3>
    </div>

    <div class="widget-content">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Comment By</th>
                    <th>Created</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.description }}</td>
                        <td>{% if entity.user.id == app.user.id %} You {% elseif entity.user.id == 1 %} Admin {% else %} {{ entity.user.profile.name }} {% endif %}</td>
                        <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>
                            <ul>
                                    {% if is_granted('ROLE_ADMIN')  or  is_granted('ROLE_ADMIN') %}
                                    <li>
                                        <a href="{{ path('comment_edit', { 'id': entity.id }) }}">Edit</a>
                                    </li>
                                    <li>
                                        <a href="javascript:del({{ entity.id }})" style="color:red" id="delete_link"
                                           class="mini red-stripe">Delete</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<ul class="record_actions">
    <li>
        <a href="{{ path('topic') }}">
            Back to the Topics List
        </a>
    </li>
</ul>
<form hidden name="delete_form" id="delete_form" action="{{ path('comment_delete') }}"
      method="POST">
    <input type="hidden" name="id" id="entityId"/>
</form>


{% endblock %}

{% block javascripts %}
    <script>
        function del(id) {
            if (confirm("Are you sure you want to delete?")) {
                document.getElementById('entityId').value = id;
                document.getElementById('delete_form').submit();
            }
        }
    </script>
{% endblock %}
