{% extends "AdminTemplateBundle::base.html.twig" %}

{% block body -%}
    <h1>Comment creation</h1>
    
    <form method="POST" action="{{ path("comment_create") }}">

    {{ form_widget(form) }}
    <input type="hidden" name="topic_id" value="{{ topic.id }}"  />
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('comment',{'id' : topic.id}) }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
