<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="shortcut icon" type='image/x-icon' href="{{ asset('bundles/admintemplate/assets/img/favicon.ico') }}">
        {#<meta name="description" content="Sentir, Responsive admin and dashboard UI kits template">#}
        {#<meta name="keywords" content="admin,bootstrap,template,responsive admin,dashboard template,web apps template">#}
        {#<meta name="author" content="Ari Rusmanto, Isoh Design Studio, Warung Themes">#}
    {% endblock %}
    <title>Students System | Global Admin Panel</title>

    {% block stylesheets %}
        <link href="{{ asset('bundles/admintemplate/css/bootstrap-responsive.min.css')}}" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"    rel="stylesheet">
        <link href="{{ asset('bundles/admintemplate/css/font-awesome.css')}}" rel="stylesheet">
        <link href="{{ asset('bundles/admintemplate/css/style.css')}}" rel="stylesheet">
        <link href="{{ asset('bundles/admintemplate/css/pages/signin.css')}}" rel="stylesheet">
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- BOOTSTRAP CSS (REQUIRED ALL PAGE)-->
        <link href="{{ asset('bundles/admintemplate/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- PLUGINS CSS -->
    {% endblock %}
</head>
<body >

<!--
===========================================================
BEGIN PAGE
===========================================================
-->
<div class="navbar navbar-fixed-top">

    <div class="navbar-inner">

        <div class="container">

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a class="brand" href="#">
               Students System  Management
            </a>

            <div class="nav-collapse">
                <ul class="nav pull-right">

                    <li class="">
                        <a href="signup.html" class="">
                            Don't have an account?
                        </a>

                    </li>

                    <li class="">
                        <a href="index.html" class="">
                            <i class="icon-chevron-left"></i>
                            Back to Homepage
                        </a>

                    </li>
                </ul>

            </div><!--/.nav-collapse -->

        </div> <!-- /container -->

    </div> <!-- /navbar-inner -->

</div> <!-- /navbar -->

{#{% include 'AdminTemplateBundle::menuCMS.html.twig' %}#}


    <div class="account-container">

        <div class="content clearfix">
        {% block body %}

        {% endblock %}
<!-- /row -->
</div>
<!-- /container -->
</div>
<!-- /main-inner -->
<!-- /main -->

{% block javascripts %}
    <!--
    ===========================================================
    Placed at the end of the document so the pages load faster
    ===========================================================
    -->

    <!-- MAIN JAVASRCIPT (REQUIRED ALL PAGE)-->
    <script src="{{ asset('bundles/admintemplate/js/jquery-1.7.2.min.js') }}"></script>
    <script src="{{ asset('bundles/admintemplate/js/excanvas.min.js') }}"></script>
    <script src="{{ asset('bundles/admintemplate/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/admintemplate/js/chart.min.js') }}"></script>
    <script src="{{ asset('bundles/admintemplate/js/full-calendar/fullcalendar.min.js') }}"></script>

    <!-- PLUGINS -->
    <script src="{{ asset('bundles/admintemplate/js/base.js') }}"></script>
    <script>

        var lineChartData = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [
                {
                    fillColor: "rgba(220,220,220,0.5)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    data: [65, 59, 90, 81, 56, 55, 40]
                },
                {
                    fillColor: "rgba(151,187,205,0.5)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    data: [28, 48, 40, 19, 96, 27, 100]
                }
            ]

        }

        var myLine = new Chart(document.getElementById("area-chart").getContext("2d")).Line(lineChartData);


        var barChartData = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [
                {
                    fillColor: "rgba(220,220,220,0.5)",
                    strokeColor: "rgba(220,220,220,1)",
                    data: [65, 59, 90, 81, 56, 55, 40]
                },
                {
                    fillColor: "rgba(151,187,205,0.5)",
                    strokeColor: "rgba(151,187,205,1)",
                    data: [28, 48, 40, 19, 96, 27, 100]
                }
            ]

        }

        $(document).ready(function() {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();
            var calendar = $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                selectable: true,
                selectHelper: true,
                select: function(start, end, allDay) {
                    var title = prompt('Event Title:');
                    if (title) {
                        calendar.fullCalendar('renderEvent',
                                {
                                    title: title,
                                    start: start,
                                    end: end,
                                    allDay: allDay
                                },
                                true // make the event "stick"
                        );
                    }
                    calendar.fullCalendar('unselect');
                },
                editable: true,
                events: [
                    {
                        title: 'All Day Event',
                        start: new Date(y, m, 1)
                    },
                    {
                        title: 'Long Event',
                        start: new Date(y, m, d+5),
                        end: new Date(y, m, d+7)
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: new Date(y, m, d-3, 16, 0),
                        allDay: false
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: new Date(y, m, d+4, 16, 0),
                        allDay: false
                    },
                    {
                        title: 'Meeting',
                        start: new Date(y, m, d, 10, 30),
                        allDay: false
                    },
                    {
                        title: 'Lunch',
                        start: new Date(y, m, d, 12, 0),
                        end: new Date(y, m, d, 14, 0),
                        allDay: false
                    },
                    {
                        title: 'Birthday Party',
                        start: new Date(y, m, d+1, 19, 0),
                        end: new Date(y, m, d+1, 22, 30),
                        allDay: false
                    },
                    {
                        title: 'EGrappler.com',
                        start: new Date(y, m, 28),
                        end: new Date(y, m, 29),
                        url: 'http://EGrappler.com/'
                    }
                ]
            });
        });
    </script><!-- /Calendar -->

{% endblock %}
<!-- MAIN APPS JS -->
</body>
</html>
