{% extends "AdminTemplateBundle::base.html.twig" %}

{% block body -%}
    <h1>Module edit</h1>

 <form action="{{ path('module_update' , {'id' : entity.id}) }}" method="post" {{ form_enctype(edit_form) }} >
                     <input type="hidden" name="_method" value="PUT" />
{{ form_widget(edit_form) }}
                   <div class="field">
                        <label for="password">Program:</label>
                        <select name="program">
                                                            <option value="" >Choose program</option>
                            {% for program in programs %}
                                <option {% if entity.program %} {% if entity.program.id == program.id %} selected {% endif %} {% endif %} value="{{program.id}}" >{{program.title}}</option>
                            {% endfor %}
                        </select>
                    </div> <!-- /field -->
                      <div class="field">
                        <label for="lecturer">Lecturer:</label>
                        <select name="lecturer">
                             <option value="" >Choose lecturer</option>
                            {% for lecturer in lecturers %}
                                <option {% if entity.user %} {% if entity.user.id == lecturer.id %} selected {% endif %} {% endif %}   value="{{lecturer.id}}" >{{lecturer.profile.name}}</option>
                            {% endfor %}
                        </select>
                    </div> <!-- /field -->
          <div class="login-actions">
                    <button class="button btn btn-primary btn-large">Save</button>
                </div> <!-- .actions -->

    </form>
    <ul class="record_actions">
        <li>
            <a href="{{ path('module') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
{% endblock %}