{% extends "AdminTemplateBundle::base.html.twig" %}

{% block body -%}
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('module_new') }}" class="btn btn-primary btn-large">Add New Module</a></td>
     {%endif%}
    {% if is_granted('ROLE_LECTURER') and not is_granted('ROLE_ADMIN')  %}
     {%if app.user.program%}
    <a href="{{ path('module_new') }}" class="btn btn-primary btn-large">Add New Module</a></td>
     {%endif%}
     {%endif%}

     <hr/>
         {% if is_granted('ROLE_ADMIN') %}
        <div class="widget widget-table action-table">
        <div class="widget-header"><i class="icon-th-list"></i>
            <h3> All Modules</h3>
        </div>
        <div class="widget-content">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Program</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{% if entity %}<a href="{{ path('module_edit', { 'id': entity.id }) }}">{{ entity.id }}</a>{% endif %}</td>
                        <td>{{ entity.title }}</td>
                        <td>{{ entity.program.title }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('module_edit', { 'id': entity.id }) }}">Edit</a>
                                </li>
                                <li>
                                    <a href="{{ path('lecture', { 'id': entity.id }) }}">Manage Lectuers</a>
                                </li>
                                <li>
                                    <a href="{{ path('module_upload_files', { 'id': entity.id }) }}"> Manage files </a>
                                </li>
                                <li>
                                    <a href="javascript:del({{ entity.id }})" style="color:red" id="delete_link"
                                       class="mini red-stripe">Delete</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
         {%endif%}
                {% if is_granted('ROLE_LECTURER') and not is_granted('ROLE_ADMIN') %}
         
        <div class="widget widget-table action-table">
        <div class="widget-header"><i class="icon-th-list"></i>
            <h3> My Modules</h3>
        </div>
        <div class="widget-content">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Program</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in app.user.getModules() %}
                    <tr>
                        <td>{% if entity %}<a href="{{ path('module_edit', { 'id': entity.id }) }}">{{ entity.id }}</a>{% endif %}</td>
                        <td>{{ entity.title }}</td>
                        <td>{{ entity.program.title }}</td>
                        <td>
                            <ul>
                               
                                <li>
                                    <a href="{{ path('lecture', { 'id': entity.id }) }}">Manage Lectuers</a>
                                </li>
                                <li>
                                    <a href="{{ path('module_upload_files', { 'id': entity.id }) }}"> Manage files </a>
                                </li>
                               
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
                {%endif%}
                                {% if is_granted('ROLE_LECTURER') %}
                                    {%if app.user.program%}
        <div class="widget widget-table action-table">
        <div class="widget-header"><i class="icon-th-list"></i>
            <h3> My Program Modules</h3>
        </div> 
        <div class="widget-content">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Program</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in programModules %}
                    <tr>
                        <td>{% if entity %}<a href="{{ path('module_edit', { 'id': entity.id }) }}">{{ entity.id }}</a>{% endif %}</td>
                        <td>{{ entity.title }}</td>
                        <td>{{ entity.program.title }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('module_edit', { 'id': entity.id }) }}">Edit</a>
                                </li>
                                <li>
                                    <a href="{{ path('lecture', { 'id': entity.id }) }}">Manage Lectures</a>
                                </li>
                                <li>
                                    <a href="javascript:del({{ entity.id }})" style="color:red" id="delete_link"
                                       class="mini red-stripe">Delete</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
                {%endif%}
                {%endif%}

    <form hidden name="delete_form" id="delete_form" action="{{ path('module_delete') }}"
          method="POST">
        <input type="hidden" name="id" id="entityId"/>
    </form>


{% endblock %}

        {% block javascripts %}
            <script>
                function del(id) {
                    if (confirm("Are you sure you want to delete?")) {
                        document.getElementById('entityId').value = id;
                        document.getElementById('delete_form').submit();
                    }
                }
            </script>
        {% endblock %}
