{% extends "AdminTemplateBundle::base.html.twig" %}

{% block body -%}
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('module_new') }}" class="btn btn-primary btn-large">Add New Module</a></td>
     {%endif%}
    {% if is_granted('ROLE_LECTURER') %}
     {%if app.user.program%}
    <a href="{{ path('module_new') }}" class="btn btn-primary btn-large">Add New Module</a></td>
         <hr/>
         <label>You Are program leader for <strong>{{ app.user.program.title }}</strong> </label>
     {%endif%}
     {%endif%}

     <hr/>

    {% if is_granted('ROLE_LECTURER') and not is_granted('ROLE_ADMIN') %}
         
        <div class="widget widget-table action-table">
        <div class="widget-header"><i class="icon-th-list"></i>
            <h3> Today's Lectures </h3>
        </div>
        <div class="widget-content">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Lecture Time</th>
                    <th>Module</th>
                    <th>Program</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for module in app.user.getModules() %}
                {% for entity in module.getTodayLectures() %}
                    <tr>
                        <td><a href="#">{{ entity.id }}</a></td>
                        <td>{{ entity.title }}</td>
                        <td>{% if entity.lectime %}{{ entity.lectime|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ entity.module.title }}</td>
                        <td>{{ entity.module.program.title }}</td>
                        <td>
                            <ul>

                                <li>
                                    <a href="{{ path('lecture_attendance', { 'id': entity.id }) }}">Manage Attendance</a>
                                </li>
                              </ul>
                        </td>
                    </tr>
                {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
                {%endif%}

    <form hidden name="delete_form" id="delete_form" action="{{ path('module_delete') }}"
          method="POST">
        <input type="hidden" name="id" id="entityId"/>
    </form>


{% endblock %}

        {% block javascripts %}
            <script>
                function del(id) {
                    if (confirm("Are you sure you want to delete?")) {
                        document.getElementById('entityId').value = id;
                        document.getElementById('delete_form').submit();
                    }
                }
            </script>
        {% endblock %}
