{% extends 'AdminTemplateBundle::base.html.twig' %}
{% block stylesheets %}
    {{parent()}}

    {% include "FileUploaderBundle::baseCss.html.twig" %}
{% endblock %}
{% block body -%}
    <style>
        .testupload  { margin-top: 4% };
        </style>
{#{{ parent() }}#}
<section class="panel">
    <header class="panel-heading">
        <h2 class="panel-title">Upload Images</h2>
    </header>
    <div class="panel-body">
        {% include "FileUploaderBundle::basic-plusjs.html.twig" %}
        <br class="clear"/>
        <input type="hidden"  name="redirect"  value="1">
        <ul class="imglist">
            {% for image in images %}
                <li>
                    {% if image %}
                    {%if image.extension=="pdf" or image.extension=="zip" or image.extension=="doc" %}
                        <form  action="{{path("download")}}" method="GET" >
                            <input type="hidden"  name="elementId" value="{{module.id}}" >
                            <input type="hidden"  name="docId" value="{{image.id}}" >
                            <label>{{image.title}}</label>
                            <input type="submit" value="download"  >
                        </form>
                                <a class="delete" href="javascript:delImage({{image.id}})" id="delete_link">Delete</a>
                                <hr/>
                    {%else%}
                        <img src="{{ asset("uploads/modules/" ~ module.id ~ "/"  ~ image.id) }}" width="140" height="140">
                        <ul>
                            <li>
                                <a class="delete" href="javascript:delImage({{image.id}})" id="delete_link">Delete</a>
                            </li>
                        </ul>
                                                            <hr/>
                    {% endif %}

                    {% endif %}
                </li>
            {%endfor%}
        </ul>
        {#{%if user.person.passportImage %}#}
            {#{%if user.person.passportImage.extension=="pdf"%}#}
                {#<form  action="{{path("download")}}" method="GET" >#}
                    {#<input type="hidden"  name="elementId" value="{{user.person.id}}" >#}
                    {#<input type="hidden"  name="docId" value="{{user.person.passportImage.id}}" >#}

                    {#<input type="submit" value="download"  >#}
                {#</form>#}
            {#{%else%}#}
                {#<img class="uploader_img_one" src="{{ asset("uploads/persons/" ~ user.person.id ~ "/" ~  user.person.passportImage.id) }}">#}
            {#{%endif%}#}
            {#<a class="delete" href="javascript:delImage({{user.person.passportImage.id}})" id="delete_link">حذف</a>#}
        {#{% endif %}#}
        {#{%if images|length > 0 %}#}
        {#<div class="form-actions">#}
        {#<button type="submit" class="btn blue"><i class="icon-ok"></i> Save Images </button>#}
        {#</div>#}
        {#{%endif%}#}
    </div>
    <form hidden name="delete_form" id="delete_form" action="{{ path('moduleimages_delete', { 'h_id': module.id  , 'redirect_id' : 1 }) }}" method="POST"  >
        <input type="hidden" name="id" id="imageId" />
    </form>
    <br class="clear"/>
    {% endblock %}
    {% block javascripts %}
    {{  parent() }}
    {% include "FileUploaderBundle::basejs.html.twig" %}
    <script>
        /*jslint unparam: true, regexp: true */
        /*global window, $ */
        $(function() {
            'use strict';
            // Change this to the location of your server-side upload handler:
            var url = window.location.hostname === 'blueimp.github.io' ?
                            '//jquery-file-upload.appspot.com/' : '{{ path('module_create_images' , { 'id': module.id }) }}',
                    uploadButton = $('<button/>')
                            .addClass('btn btn-primary')
                            .prop('disabled', true)
                            .text('Processing...')
                            .on('click', function() {
                                var $this = $(this),
                                        data = $this.data();
                                $this
                                        .hide()
                                        .off('click')
                                        .text('Abort')
                                        .on('click', function() {
                                            $this.remove();
                                            data.abort();
                                        });
                                data.submit().always(function() {
                                    $this.remove();
                                });
                            });
            $('#fileupload').fileupload({
                url: url,
                dataType: 'json',
                autoUpload: false,
                acceptFileTypes: /(\.|\/)(gif|jpe?g|png|pdf|zip|doc)$/i,
                maxFileSize: 5000000, // 5 MB
                // Enable image resizing, except for Android and Opera,
                // which actually support image resizing, but fail to
                // send Blob objects via XHR requests:
                disableImageResize: /Android(?!.*Chrome)|Opera/
                        .test(window.navigator.userAgent),
                previewMaxWidth: 100,
                previewMaxHeight: 100,
                previewCrop: true
            }).on('fileuploadadd', function(e, data) {
                data.context = $('<div/>').appendTo('#files');
                $('#progress .progress-bar').show();
                $.each(data.files, function(index, file) {
                    var node = $('<p/>')
                            .append($('<span/>').text(file.name));
                    if (!index) {
                        node
                                .append('<br>')
                                .append(uploadButton.clone(true).data(data));
                    }
                    node.appendTo(data.context);
                });
            }).on('fileuploadprocessalways', function(e, data) {
                var index = data.index,
                        file = data.files[index],
                        node = $(data.context.children()[index]);
                if (file.preview) {
                    node
                            .prepend('<br>')
                            .prepend(file.preview);
                }
                if (file.error) {
                    node
                            .append('<br>')
                            .append($('<span class="text-danger"/>').text(file.error));
                }
                if (index + 1 === data.files.length) {
                    data.context.find('button')
                            .text('Upload')
                            .prop('disabled', !!data.files.error);
                }
            }).on('fileuploadprogressall', function(e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                );
            }).on('fileuploaddone', function(e, data) {
                $.each(data.result.files, function(index, file) {
                    if (file.url) {
                        var link = $('<a>')
                                .attr('target', '_blank')

                                .prop('href', file.url)
                                .hide();
                        $('#progress .progress-bar').css(
                                'width',
                                0 + '%'
                        );
                        var deleteLink = "<ul><li><a class='delete' href='javascript:delImage(" + file.id + ")' id='delete_link'>Delete</a></li></ul>";
                        var mainImage = "<input type='radio' name='main' class='set_main'  value='" + file.id + "'>";
                        var imageUrl = "<li><img src=" + file.url + " width='140' height='140'>";
                        $(".imgList").append(imageUrl + deleteLink  + "</li>");
                        $(data.context.children()[index])
                                .wrap(link);
                    } else if (file.error) {
                        var error = $('<span class="text-danger"/>').text(file.error);
                        $(data.context.children()[index])
                                .append('<br>')
                                .append(error);
                    }
                });
            }).on('fileuploadfail', function(e, data) {
                $.each(data.files, function(index, file) {
                    var error = $('<span class="text-danger"/>').text('File upload failed.');
                    $(data.context.children()[index])
                            .append('<br>')
                            .append(error);
                });
            }).prop('disabled', !$.support.fileInput)
                    .parent().addClass($.support.fileInput ? undefined : 'disabled');
        });
    </script>

    <script>
        function delImage(id) {
            if (confirm("Are you sure you want to delete?"))
            {
                $('#imageId').val(id);
                $('#delete_form').submit();
            }
        }
     </script>
{% endblock %}