{% extends "AdminTemplateBundle::base.html.twig" %}

{% block body -%}
    <h2>Add New Module</h2>

    {#{{ form(form) }}#}
    <form action="{{ path('module_create') }}" method="post" {{ form_enctype(form) }} >
        {{ form_widget(form) }}
          <div class="field">
                        <label for="password">Program:</label>
                        <select name="program">
                               {% for program in programs %}
                                <option value="{{program.id}}" >{{program.title}}</option>
                            {% endfor %}
                        </select>
                    </div> <!-- /field -->
                     <div class="field">
                        <label for="lecturer">Lecturer:</label>
                        <select name="lecturer">
                            <option value="" >Choose lecturer</option>

                            {% for lecturer in lecturers %}
                                <option value="{{lecturer.id}}" >{{lecturer.profile.name}}</option>
                            {% endfor %}
                        </select>
                    </div> <!-- /field -->

          <div class="login-actions">

                    <button class="button btn btn-primary btn-large">Add</button>

                </div> <!-- .actions -->

    </form>
    <ul class="record_actions">
        <li>
            <a href="{{ path('module') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
{% endblock %}
