{% extends "AdminTemplateBundle::base.html.twig" %}


{% block body -%}
    <h1>Notification edit</h1>

    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('notification') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
{% endblock %}
