{% extends "AdminTemplateBundle::base.html.twig" %}

{% block body -%}
    <a href="{{ path('notification_new') }}" class="btn btn-primary btn-large">Add New Notification</a></td>
    <hr/>
    <div class="widget widget-table action-table">

        <div class="widget-header"><i class="icon-th-list"></i>

            <h3>Notification</h3>
        </div>

        <div class="widget-content">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Note Type</th>
                    <th>Program</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('notification_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.title }}</td>
                        <td> {% if entity.notetype == 1 %}Exams{% elseif entity.notetype == 2 %}Attendance{% else %}General{% endif %}</td>
                        <td>{{ entity.program.title }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('notification_edit', { 'id': entity.id }) }}">Edit</a>
                                </li>
                                <li>
                                    <a href="javascript:del({{ entity.id }})" style="color:red" id="delete_link"
                                       class="mini red-stripe">Delete</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <form hidden name="delete_form" id="delete_form" action="{{ path('notification_delete') }}"
          method="POST">
        <input type="hidden" name="id" id="entityId"/>
    </form>

{% endblock %}

{% block javascripts %}
    <script>
        function del(id) {
            if (confirm("Are you sure you want to delete?")) {
                document.getElementById('entityId').value = id;
                document.getElementById('delete_form').submit();
            }
        }
    </script>
{% endblock %}
