{% extends "AdminTemplateBundle::base.html.twig" %}

{% block body -%}
    <h2>Add New Notification</h2>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('notification') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
{% endblock %}
