{% extends "AdminTemplateBundle::base.html.twig" %}

{% block body -%}
    <a href="{{ path('topic_new') }}" class="btn btn-primary btn-large">Add New Topic</a></td>
<hr/>
<div class="widget widget-table action-table">

    <div class="widget-header"><i class="icon-th-list"></i>

        <h3>Topics</h3>
    </div>

    <div class="widget-content">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Program</th>
                    <th>Created</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('comment', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                        <td>{% if entity.program %}{{ entity.program.title }}{% else %}-{% endif %}</td>
                        <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>
                            <ul>
                                                   {% if is_granted('ROLE_ADMIN')  or  is_granted('ROLE_ADMIN') %}

                                <li>
                                    <a href="{{ path('topic_edit', { 'id': entity.id }) }}">Edit</a>
                                </li>
                                <li>
                                    <a href="javascript:del({{ entity.id }})" style="color:red" id="delete_link"
                                       class="mini red-stripe">Delete</a>
                                </li>
                                  {%endif%}
                                <li>
                                    <a href="{{ path('comment', { 'id': entity.id }) }}">Manage Comments</a>
                                </li>
                                
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<form hidden name="delete_form" id="delete_form" action="{{ path('topic_delete') }}"
      method="POST">
    <input type="hidden" name="id" id="entityId"/>
</form>

{% endblock %}
{% block javascripts %}
    <script>
        function del(id) {
            if (confirm("Are you sure you want to delete?")) {
                document.getElementById('entityId').value = id;
                document.getElementById('delete_form').submit();
            }
        }
    </script>
{% endblock %}

