{% extends "AdminTemplateBundle::base.html.twig" %}


{% block body -%}
    <h1>Topic creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('topic') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
