
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{{ asset('bundles/fileuploader/js/vendor/jquery.ui.widget.js')}}"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="{{ asset('bundles/fileuploader/js/load-image.min.js')}}" ></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="{{ asset('bundles/fileuploader/js/canvas-to-blob.min.js')}}"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
<script src="{{ asset('bundles/fileuploader/js/bootstrap.min.js')}}"></script>
<!-- blueimp Gallery script -->
<script src="{{ asset('bundles/fileuploader/js/jquery.blueimp-gallery.min.js')}}"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{{ asset('bundles/fileuploader/js/jquery.iframe-transport.js')}}"></script>
<!-- The basic File Upload plugin -->
<script src="{{ asset('bundles/fileuploader/js/jquery.fileupload.js')}}"></script>
<!-- The File Upload processing plugin -->
<script src="{{ asset('bundles/fileuploader/js/jquery.fileupload-process.js')}}"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="{{ asset('bundles/fileuploader/js/jquery.fileupload-image.js')}}"></script>
<!-- The File Upload audio preview plugin -->
<script src="{{ asset('bundles/fileuploader/js/jquery.fileupload-audio.js')}}"></script>
<!-- The File Upload video preview plugin -->
<script src="{{ asset('bundles/fileuploader/js/jquery.fileupload-video.js')}}"></script>
<!-- The File Upload validation plugin -->
<script src="{{ asset('bundles/fileuploader/js/jquery.fileupload-validate.js')}}"></script>
<!-- The File Upload Angular JS module -->
<script src="{{ asset('bundles/fileuploader/js/jquery.fileupload-angular.js')}}"></script>
<!-- The main application script -->
<script src="{{ asset('bundles/fileuploader/js/app.js')}}"></script>