 <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>upload File</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="SingleFileupload" type="file" name="files[]" >
    </span>
    <br>
    <br>
    <!-- The global progress bar -->
    <div id="SingleProgress" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <!-- The container for the uploaded files -->
    <div id="SingleFiles" class="singleFiles"></div>