<link rel="stylesheet" href="{{ asset('bundles/fileuploader/css/bootstrap-uploader.css')}}">
<!-- blueimp Gallery styles -->
<link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="{{ asset('bundles/fileuploader/css/jquery.fileupload-ui.css')}}">
<link rel="apple-touch-icon-precomposed" href="images/ios_icon.png" >

<!-- CSS adjustments for browsers with JavaScript disabled -->
<noscript><link rel="stylesheet" href="{{ asset('bundles/fileuploader/css/jquery.fileupload-ui-noscript.css')}}"></noscript>
