 <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>{{buttonName}}</span>
        <!-- The file input field used as target for the file upload widget -->
        <input class="{{buttonId}}" type="file" name="files[]" multiple >
    </span>
    <br>
    <br>
    <!-- The global progress bar -->
    <div id="{{prograss}}" class="progress ">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <!-- The container for the uploaded files -->
    <div id="{{filesContainer}}" class="{{filesContainer}}"></div>