{% extends "AdminTemplateBundle::base2.html.twig" %}


{% block body %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <h1>Member Login</h1>

    <div class="login-fields">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="field">

    <label for="username">{{ 'username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
</div>
    <div class="field">

    <label for="password">{{ 'password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" />
</div>

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'remember_me'|trans }}</label>
    <div class="login-actions">
    <input type="submit" id="_submit" name="_submit" class="button btn btn-success btn-large" value="{{ 'submit'|trans }}" />
    </div>
        </div>
</form>
{% endblock  %}
{% block javascripts %}
{% endblock %}

